
<ons-page id="listPage" ng-controller="LISTController">
    <div id="wrap" ng-show="!isDetailShow">
        <div ng-repeat="p in lunch.list track by $index">
            <div class="list_border"></div>
            <ul ng-click="showDetail(p.PlaceID,p.FormattedAddress,p.ShopName,p.Genre,p.access)" class="listBox">
                <li>
                    <div class="list_Photo"><img src="{{p.PicPath}}" width="115px" height="115px"></div>
                </li>
                <li>
                    <div class="rightBox">
                        <div class="list_station">{{p.Station}}</div>
                        <div class="list_Genre">{{p.Genre}}</div>
                        <div class="list_Shopname">{{p.ShopName}}</div>
                        <div class="list_price">¥{{p.price}}〜</div>
                        <div class="list_access">{{p.FormattedAddress}}</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div id="restinfoBox" ng-show="isDetailShow">
        <h2>{{shopDetail.ShopName}}</h2>
            <p><img src="{{shopDetail.PicPath}}"/></p>
            <dl>
                <dt>ジャンル</dt>
                <dd>{{shopDetail.Genre}}</dd>
            </dl>
            <dl>
                <dt>平均予算</dt>
                <dd>¥{{shopDetail.average}}〜</dd>
            </dl>
            <dl>
                <dt>住所</dt>
                <dd>{{shopDetail.address}}</dd>
            </dl>
            <dl>
                <dt>アクセス</dt>
                <dd>{{shopDetail.access}}</dd>
            </dl>
            <dl>
                <dt>営業時間</dt>
                <dd>ランチ{{shopDetail.time}}</dd>
            </dl>
            <dl>
                <dt>評判</dt>
                <dd>
                    {{shopDetail.Hyoban}}
                </dd>
            </dl>
            <dl>
                <dt>ポイント</dt>
                <dd>{{shopDetail.Description}}</dd>
            </dl>
            <dl>
                <dt>コメント</dt>
                <dd>{{shopDetail.comment}}</dd>
            </dl>
            <p class="backbtn" ng-click="backbtn()">一覧に戻る</p>
        </div>

</ons-page>
