<ons-page id="login_page" ng-controller="LoginController">
    
      <div style="text-align: center; margin-top: 30px;">
          
       <ons-input id="username" modifier="underbar" placeholder="{{MemberName}}"  ng-model="MemberName" float></ons-input>
        
       <ons-select id="choose-sel" ng-model="teamID" >
            <option ng-repeat="p in teamList track by $index"  ng-value="p.TeamID">{{p.TeamName}}</option>
        </ons-select>

        <p style="margin-top: 30px;">
          <ons-button ng-click="login()">Sign in</ons-button>
        </p>
      </div>


</ons-page>