<div ng-controller="GoogleMapController as vm">

    <p>行きたい場所だをここに!</p>

    <input ng-model="address">
    <button ng-click="search()">検索する</button>
    <button ng-click="clear()">消去</button>
    <span ng-model="positions"></span>
    <br/>
    <ng-map zoom="13">
        <info-window id="cached" template="custom-cached-info-window-template.html"></info-window>
        <marker on-click="showInfo(p,$index)" ng-repeat="p in positions track by $index" id="custom-marker-{{$index}} " position="{{p.pos}} ">
        </marker>


        <marker position="{{centerPosition}}">

        </marker>

    </ng-map>

    <script id="custom-cached-info-window-template.html" type="text/ng-template">
        <div ng-non-bindable="">
            店名:{{selectedShop.name}}
            <br/> 住所:{{selectedShop.formatted_address}}
            <br/> Lat: {{anchor.getPosition().lat()}}<br/> Lng: {{anchor.getPosition().lng()}}<br>
        </div>
    </script>

    <div>


        <ul class="list" ng-show="!ifShowDeail">
            <li class="list-item list-item--chevron list-item--tappable" ng-click="goToDetail(p)" ng-repeat="p in positions track by $index" style="cursor:pointer">
                <div class="list-item__left">
                    <img class="list-item__thumbnail" src="{{p.icon}}" alt="Cute kitten">
                </div>

                <div class="list-item__center">
                    <div class="list-item__title">{{p.name}}</div>
                    <div class="list-item__subtitle">{{p.formatted_address}}</div>
                </div>

                <div class="list-item__right">
                    <i class="ion-ios-information list-item__icon"></i>
                </div>

            </li>

        </ul>

        <div ng-show="ifShowDeail" style="height: 200px; padding: 1px 0 0 0;">

            <div>
                <span ng-click="backToList()">検索結果</span>
                <span></span>
                <span>詳細</span>
            </div>
            <div class="card card--material">
                <div class="card__title card--material__title">{{detailShop.name}}</div>
                <div class="card__content card--material__content">
                    <div>
                        {{detailShop.formatted_address}}
                    </div>
                    <div>
                        {{detailShop.formatted_phone_number}}
                    </div>

                    <div ng-repeat="_p in detailShop.photots track by $index">

                        <img src="{{_p.getUrl}}" alt="" width="330px">
                    </div>
                    <div>
                        {{detailShop.rating}}
                    </div>

                    <div>
                        <ons-button modifier="material" ng-click="startCheckIn(detailShop)">
                            店にいく
                        </ons-button>
                    </div>
                </div>
            </div>

            <ul class="list list--material">
                <li class="list-item list-item--material" ng-repeat="p in visitHistory track by $index">
                    <div class="list-item__center list-item--material__center">
                        <div class="list-item__title list-item--material__title">
                            <span ng-if="p.finish">完成</span>
                            <span ng-if="!p.finish">未完成</span>
                        </div>
                        <div class="list-item__subtitle list-item--material__subtitle">{{p.checkInTime}}-{{p.lastCheckInTime}}</div>
                    </div>
                </li>

            </ul>


        </div>
    </div>