<div ng-controller="GoogleMapController as vm">

    <p>行きたい場所だをここに!</p>

    <input ng-model="address">
    <button ng-click="search()">検索する</button>
    <button ng-click="clear()">消去</button>
    <span ng-model="positions"></span> {{name}}
    <ng-map zoom="13">
        <info-window id="cached" template="custom-cached-info-window-template.html"></info-window>
        <marker on-click="showInfo()" ng-repeat="p in positions track by $index " id="custom-marker-{{$index}} " position="{{p.pos}} ">
        </marker>
    </ng-map>

    <script id="custom-cached-info-window-template.html" type="text/ng-template">
        <div ng-non-bindable="">
            I'm an cached template<br/> Lat: {{anchor.getPosition().lat()}}<br/> Lng: {{anchor.getPosition().lng()}}<br> {{p}}
        </div>
    </script>


</div>