<html>
<head>   
<link rel="stylesheet" type="text/css" href="css/restaurantInfo.css">
</head>

    <!-- <ons-button ng-click="moveToPage('hoge1')">新規登録</ons-button>
    <ons-button ng-click="moveToPage('hoge2')">お店一覧</ons-button> -->
<div id="restinfoBox">
<h2>お店の名前</h2>
    <p><img src="img/restaurantinfo/itallian.jpg" alt="和食"/></p>
    <dl>
        <dt>ジャンル</dt>
        <dd>和食</dd>
    </dl>
    <dl>
        <dt>平均予算</dt>
        <dd>880円〜</dd>
    </dl>
    <dl>
        <dt>住所</dt>
        <dd>愛知県名古屋市中村区名駅3-11-15</dd>
    </dl>
    <dl>
        <dt>アクセス</dt>
        <dd>JR・名鉄・近鉄・地下鉄東山線/桜通線　名古屋駅徒歩３分地下街ユニモール２番出口北に上る国際センター駅から382m</dd>
    </dl>
    <dl>
        <dt>営業時間</dt>
        <dd>ランチ　11:30～14:30（L.O.14:00</dd>
    </dl>
</div>
       
</html>
    