<ons-page id="start_page">


<ons-splitter var="mySplitter" ng-controller="SplitterController as splitter">
  <ons-splitter-side side="left" width="220px" collapse swipeable>
    <ons-page>
      <ons-list>
        <ons-list-item ng-click="splitter.load('maps.html')" tappable>
          MAP
        </ons-list-item>
        <ons-list-item ng-click="splitter.load('restaurantList.html')" tappable>
          restaurantList
        </ons-list-item>
        <ons-list-item ng-click="splitter.load('restaurantinfo.html')" tappable>
          restaurantInfo
        </ons-list-item>


        <ons-list-item ng-click="splitter.load('mypage.html')" tappable>
          MYPAGE
        </ons-list-item>
        <ons-list-item ng-click="splitter.load('teampage.html')" tappable>
          TEAMPAGE
        </ons-list-item>
        <ons-list-item ng-click="splitter.load('helps.html')" tappable>
          HELP
        </ons-list-item>


      </ons-list>
    </ons-page>
  </ons-splitter-side>
  <ons-splitter-content page="maps.html"></ons-splitter-content>
</ons-splitter>

<template id="maps.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button ng-click="mySplitter.left.open()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">
        MAP
      </div>
    </ons-toolbar>



	
<!-- 	<ons-button ng-click="moveToPage('page1')">ボタン</ons-button>
    <p style="text-align: center; opacity: 0.6; padding-top: 20px;">
      Swipe right to open the menu!
    </p> -->

  <ng-include src="'map.html'"></ng-include>
  </ons-page>
</template>

<template id="restaurantList.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button ng-click="mySplitter.left.open()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">
        restaurantList
      </div>
    </ons-toolbar>

      <ng-include src="'list.html'"></ng-include>
  </ons-page>
</template>

<template id="restaurantinfo.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button ng-click="mySplitter.left.open()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">
        restaurantinfo
      </div>
    </ons-toolbar>

    <ng-include src="'restaurantinfo.html'"></ng-include>
  </ons-page>
</template>

<template id="mypage.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button ng-click="mySplitter.left.open()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">
        MYPAGE
      </div>
    </ons-toolbar>

    <ng-include src="'MyPagge.html'"></ng-include>


  </ons-page>
</template>


<template id="teampage.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button ng-click="mySplitter.left.open()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">
        TEAMPAGE
      </div>
    </ons-toolbar>
  </ons-page>
</template>


<template id="helps.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button ng-click="mySplitter.left.open()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">
        HELP
      </div>
    </ons-toolbar>

  <ng-include src="'help.html'"></ng-include>
  </ons-page>
</template>



</ons-page>

