<ons-page id="TeamPage" ng-controller="TeamController">
    <h1>TeamPage</h1>

    {{HighPointUser}}


    <div id="wrap">
        <div ng-repeat="p in HighPointUser track by $index">
            <div class="list_border"></div>

            <ul ng-click="showDetail(p.PlaceID,p.FormattedAddress,p.ShopName,p.Genre,p.access)" class="listBox">

                <li>
                    <div class="list_Photo"><img src="{{p.PicPath}}" width="115px" height="115px"></div>
                </li>
                <li>
                    <div class="rightBox">
                        <div class="list_station">{{p.MemberID}}</div>
                        <div class="list_Genre">{{p.GetPoint}}</div>
                        <div class="list_Shopname">{{p.TeamName}}</div>
                        <div class="list_price">{{p.createDate}}</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>


</ons-page>