#wrap{
    margin: 0 auto;
}
.clear{
    display: flex;
}
.list_border{
    border-bottom: 1px dotted #666666;
    width: 100%;
}
.ma_b{
    margin-bottom:20px; 
}
li{
    list-style: none;
}
.rightBox{
}
.list_Photo{
margin-right:12px;
}

.list_info_table{
    padding-top:6px;
}

.list_Genre{
    font-size: 14px;
}
.list_station{
    background:#666666;
    text-align: center;
    border-radius:5px;
    font-size: 13px;
    color:#ffffff;
}
.list_price{
    font-size: 14px;
}
.list_Shopname{
    font-size: 17px;
    font-weight: bold;
}
.list_access{
    font-size: 14px;
}